<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
    
    <header>
		<nav class="navbar navbar-default">
	  	    <div class="container">
			    <div class="navbar-header">
			        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			            <span class="icon-bar"></span>
			        	<span class="icon-bar"></span>
			        	<span class="icon-bar"></span> 
			        	<span class="icon-bar"></span>
			      	</button>
			      	<a class="navbar-brand" href="/">YelpCamp</a>
			    </div>
			    <div class="collapse navbar-collapse" id="myNavbar">
			      	<ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser){ %>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Sign Up</a></li>
                        <% } else { %>
                            <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                            <li><a href="/logout">Logout</a></li>
                        <% } %>
                    </ul>
			    </div>
	  		</div>
		</nav>
	</header>   
    
    <div class="container">
        <% if (error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if (success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
   
    <div class="container">
        <div class="row login1">
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                <form action="/register" method="POST">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4>SIGN UP</h4>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <input class="form-control" type="text" name="username" placeholder="username">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="password" placeholder="password">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-lg btn-primary btn-block">SIGN UP!</button>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a href="/campgrounds">Go Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
    </body>
</html>